[alias]
  co = checkout
  # git grepした後のファイルをvimで開く
  gv = "!f(){ git grep -n $* | peco | awk -F: '{print $1}' | xargs -I% bash -c 'vim "%" <&- <&2'; };f"
[user]
  name = riho.takagi
  email = rihohearts@gmail.com
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[push]
	default = simple
[ghp]
  root = ~/ghp/
[fetch]
  fetch = +refs/heads/*:refs/remotes/origin/*
[core]
	editor = vim
